@import "tailwindcss";


@theme {
  --color-brand: rgb(88, 65, 208);
  --color-brand-100: rgba(88, 65, 208, 0.1);
  --color-brand-200: rgba(88, 65, 208, 0.2);
  --color-brand-300: rgba(88, 65, 208, 0.3);
  --color-brand-800: rgba(88, 65, 208, 0.8);

  --color-main-bg: #f8f8f8;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
